<h1>Cadastro de Produto</h1>
<form autocomplete="off" [formGroup]="productForm">
  <mat-label class="label">Nome do Produto:</mat-label>
  <input matInput formControlName="name" required><br><br>

  <mat-label class="label">Fornecedor:</mat-label>
  <input matInput formControlName="supplier" required><br><br>

  <mat-label class="label">Preço:</mat-label>
  <input matInput formControlName="price" type="number" required><br><br>
</form>
<button mat-button color="primary" (click)="saveProduct()">Salvar</button>
<button mat-button color="warn" (click)="cancel()">Cancelar</button>
