<mat-card>
  <div *ngIf="products$ | async as products">
    <table mat-table [dataSource]="products$" class="mat-elevation-z8">

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let product">
          <span class="actionButtons">
            <mat-icon class="custom-mini-fab" color="primary">edit</mat-icon>
            <mat-icon class="custom-mini-fab" color="primary" (click)="deleteProductByID(product.id)">delete
            </mat-icon>
          </span>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Produto">
        <th mat-header-cell *matHeaderCellDef>Produto</th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
      </ng-container>

      <ng-container matColumnDef="Fornecedor">
        <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
        <td mat-cell *matCellDef="let product">{{ product.supplier }}</td>
      </ng-container>

      <ng-container matColumnDef="Valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let product">{{ product.price }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>
